[Unit]
Description=ROS Humble Talker
After=docker-autorun.service network-online.target voxl-wait-for-fs.service
Requires=docker-autorun.service network-online.target voxl-wait-for-fs.service

[Service]
StartLimitIntervalSec=30
StartLimitBurst=5
RemainAfterExit=true

WorkingDirectory=/home/root/aeroprint/deploy/starling
ExecStartPre=/bin/bash -c '
  until ip -4 addr show wlan0 | grep "inet "; do
    echo "Waiting for wlan0 IP..." >> /tmp/wait-for-wlan.log
    sleep 1
  done
'
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=5s
User=root
Group=root


[Install]
WantedBy=multi-user.target
