[Unit]
Description=ROS Humble Talker
After=wait-for-ip.service

[Service]
StartLimitBurst=5
RemainAfterExit=true

WorkingDirectory=/home/root/aeroprint/deploy/starling
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=5s
User=root
Group=root


[Install]
WantedBy=multi-user.target
