[Unit]
Description=ROS Humble Talker
After=docker-autorun.service network-online.target
Requires=docker-autorun.service network-online.target

[Service]
StartLimitIntervalSec=30
StartLimitBurst=5


WorkingDirectory=/home/root/aeroprint/deploy/starling
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
